
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    <title> TrackMyRide </title>
    <!-- Browser Icon -->
    <link rel="icon"
      href="https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
      type="image/x-icon">
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/5c19bf284e.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  
  <!-- Scripts -->
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Script -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  