<div class="mb-container">
  <div class="box1"></div>
  <div class="box2">
    <div class="box-container">
      <div class="box3-1">
        <div class="button-form">
          <div id="test0">
            <button id="btn-0" type="button"><i class="fa fa-home"></i></button>
          </div>
          <div id="test"><button id="btn0" type="button">Test</button></div>
          <button id="btn1" type="button">UPDATE</button>
          <button id="btn2" type="button">ADD NEW</button>
          <div id="test2"><button id="btn4" type="button">Test</button></div>
          <div id="test3">
            <button id="btn5" type="button">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="box3-2">
        <div class="box-3-2-container">
          <div class="minibox1">
            <ul>
              <li>Serial:</li>
              <li>Brand:</li>
              <li>Color:</li>
              <li>Type:</li>
              <li>Status:</li>
              <li>Lock:</li>
            </ul>
          </div>
          <div class="minibox2"></div>
        </div>
      </div>
      <div class="box3-3">
        <div class="gallery">
          <div id="triangulo-para-esquerda"></div>
          <a target="_blank" href="bike.png">
            <img
              id="img"
              src="img/bike.png"
              alt="Cinque Terre"
              width="200"
              height="200"
            />
          </a>
          <div id="triangulo-para-direita"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="box3"></div>
  <div class="color-overlay2"></div>
</div>
