<!--Author: Yuri Braga 2017141-->

<div id="mb-container">
  <div id="box-margin-left"></div>
  <!-- Content starts here  -->
  <div id="content">
    <div class="content-holder">
      <!-- Content at the top part of the screen -->
      <div id="up-content">
        <div class="gallery">
          <!--Left button-->
          <div id="left-button"></div>
          <!--Image-->
          <div class="image">
            <a target="_blank" href="bike.png">
              <img id="img" src="img/bike.png" />
            </a>
          </div>
          <!--right Button-->
          <div id="right-button"></div>
        </div>
      </div>

      <!-- Content at the second part of the screen -->
      <div id="midle-content">
        <div id="midle-content-left">
          <div class="list">
            <span><p>Serial:</p></span>
            <span><p>Brand:</p></span>
            <span><p>Color:</p></span>
            <span><p>Type:</p></span>
            <span><p>Status:</p></span>
            <span><p>Lock:</p></span>
          </div>
        </div>
        <div id="midle-content-right"></div>
      </div>

      <!-- Content at the third part of the screen -->
      <div id="bottom-content">
        <button class="btn" id="btn-update" type="button">UPDATE</button>
        <button class="btn" id="btn-add" type="button">ADD NEW</button>
      </div>
    </div>
  </div>
  <div id="box-margin-right"></div>
</div>
