<div id="mb-container">
  <div id="box-margin-left"></div>

  <div id="content">
    <div class="content-holder">
      <div id="up-content"></div>
      <div id="midle-content"></div>
      <div id="bottom-content">
        <button class="btn" id="btn-update" type="button">UPDATE</button>
        <button class="btn" id="btn-add" type="button">ADD NEW</button>
      </div>
    </div>
  </div>
  <div id="box-margin-right"></div>
</div>
