<head>
 <!--Meta-->
 <!--Consult Page Header component-->
  <meta charset="UTF-8" />

  <!--Title-->
      
    <title> 
            Consult Map-Bike Info
    </title> 
      
    <link rel = "icon" href =  
  "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
    type = "image/x-icon"> 
    
  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/login2.css" />
  
   
  <!--Main Title Font-->
  <link
  href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<!-- Font Awesome Script -->
<script src="https://kit.fontawesome.com/5c19bf284e.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- Meta tag for responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
