<!--Author: Yuri Braga student number:2017141 -->

<!--This View is the About main content.-->

<div class="container">
      
    <div id="midle-content-left">
            <div class="list">
              <ul class="list-group">
                <li class="list-group-item">Serial: </li>
                <li class="list-group-item">Brand: </li>
                <li class="list-group-item">Color: </li>
                <li class="list-group-item">Type: </li>
                <li class="list-group-item">Status: </li>
                <li class="list-group-item">Lock:</li>
              </ul>
            </div>
            </div>
          
          
        
            <div id="midle-content-right">
              <div class="list2">
              <ul class="list-group">
                <li class="list-group-item">....INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
              </ul>
              </div>
         </div> 
    </div>
  </div>