<!--Author: Yuri Braga student number:2017141 -->

<!--This View is the About main content.-->

<div class="container">
      
    <div id="midle-content-left">
            <div class="list">
              <ul class="list-group">
                <li class="list-group-item">Serial: </li>
                <li class="list-group-item">Brand: </li>
                <li class="list-group-item">Color: </li>
                <li class="list-group-item">Type: </li>
                <li class="list-group-item">Status: </li>
                <li class="list-group-item">Lock:</li>
              </ul>
            </div>
            </div>
          
          
        
            <div id="midle-content-right">
              <div class="list2">
              <ul class="list-group">
                <li class="list-group-item">....INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
                <li class="list-group-item">...INPUT...</li></ul>
              </ul>
              </div>
         </div> 
        
                  
    </div>
    <div id="bottom-content">
      <div>
        <button
          id="btn-update"
          type="button"
          class="btn btn-primary btn-lg btn-block"
        >
          UPDATE
        </button>
      </div>
      <div class="btn2">
        <button
          id="btn-add"
          type="button"
          class="btn btn-secondary btn-lg btn-block"
        >
          ADD NEW
        </button>
      </div>
  </div>