<!--Author: Yuri Braga student number:2017141 -->

<!--This View is the About main content.-->

<div class="container">
  
  <div id="midle-content-left">

    <form action="/addBike" method="POST" enctype="multipart/form-data">

       <div class="col-auto">

        <% for (var i =0; i< bike.length; i++) { %>
     
      <label class="sr-only" for="inlineFormInput" > Serial:   </label>
       <input
       id="input-id"
        type="text"
        class="form-control mb-2"
        name="serial"
        placeholder="Serial"
      />
      <input
        type="hidden"
        class="form-control mb-2"
        name=""
        value=""
      />
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Brand</label>
      <input
        id="input-id"
        type="text"
        class="form-control mb-2"
        name="brand"
        placeholder="<%= bike[i].brand %>"
      />
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Color</label>
      <input
        id="input-id"
        type="text"
        class="form-control mb-2"
        name="color"
        placeholder="<%= bike[i].color %>"
      />
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Type</label>
      <input
        id="input-id"
        type="text"
        class="form-control mb-2"
        name="type"
        placeholder="<%= bike[i].type %>"
      />
    </div>
    <div class="col-auto">
      <label class="sr-only" for="inlineFormInput">Status</label>
      <input
        id="input-id"
        type="text"
        class="form-control mb-2"
        name="status"
        placeholder="<%= bike[i].status %>"
      />
    </div>
    <div class="col-auto">
      <label style="color:white;" for="inlineFormInput">Locker</label>
      <select name="locker">
        <option value="true">Yes</option>
        <option value="false">No</option>
        
        
      </select>
    </div>
   
    </div>
    <br />
    <div class="col-auto">
      <div class="form-group floating-label-form-group controls">
         <input type="file" class="form-control" id="image" name="myImages" accept="image/*" multiple>
      </div>
    <div id="two-btn" class="col-auto">
       <button
          id="btn1"
          type="post"
          class="btn btn-primary mb-2s"
          data-toggle="modal"
          data-target="#myModal"
          formaction="/addbike"
        >
          ADD NEW BIKE
        </button>

       
    
      <a class="update" href="/update">
        <button
          id="btn1"
          type="button"
          class="btn btn-primary mb-2s"
          data-toggle="modal"
          data-target="#myModal"
        >
          UPDATE
        </button>
      </a>
    
    
  </div>
  
    </form>
    
  <% } %>
    
   
    </div>
    
  </div>
  
</div>
