<!-- Using the concept of layout file. This component will be used anytime a View is needed with this Header element-->
<head>
  <title>
    TrackMyRide
  </title>

  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
</head>
