
  <nav id="manageBikeNav" class="navbar navbar-dark bg-dark navbar-expand-md py-0 static-top ">
    <a href="#" class="navbar-brand"><i class="material-icons">directions_bike</i></a>
    <div class="d-flex bg-secondary"></div>
    <div class="p-2 mr-auto">
      <a class=" text-light  p-1" href="welcomescreen2" id="home">Home</a>
      <!-- <a class="  text-light p-1"  href="/bikeinfo" id="bikeinfo">Back</a> -->
    </div>
  </nav>