<!--This Modal will pop up when user wants to update a bike-->

<!--Modal Section-->
<div class="container">
    <div class="parent-modal" id=<%= modal===2? "hidden":"displayed" %>>
      <div class="modal-content">
        <div class="close">
          <a href="/welcomescreen2"> +</a>
        </div>
                   <!--Content starts in here-->
                   <span><h3>MANAGE MY BIKE</h3></span>
                   <div class="login">
                 <form>
                  <div> <button id="btn-modalmain" type="submit"  formaction="/managebike"  class="btn btn-primary btn-block btn-large" >
                    CHECK MY BIKE
                  </button></div>

                  <div><button id="btn-modalmain" type="submit" formaction="/registerbike"  class="btn btn-primary btn-block btn-large">
                    REGISTER A BIKE
                  </button></div>
                </div>
            </form>
                 
              
            
          </div>
        
      <!--content finishes in here-->
    </div>
</div>
  