
<!-- Modal on the Home Page -->
<!--Enable user to choose between Check a Bike or Register a Bike-->
<!--Modal extracted from Bootstrap-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="z-index: 999;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">MANAGE BIKE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
     

      <a href="/managebike"> <div> <button id="btn-modalmain"   class="btn btn-primary btn-block btn-large" >
         CHECK MY BIKE
       </button></a></div>

       <a><button type="button" id="btn-modalmain"  class="btn btn-primary btn-block btn-large" data-toggle="modal" data-target="#exampleModalScrollable">
        REGISTER A BIKE
      </button></a>
 

       
      </div>
      <div class="modal-footer">
       
        
      </div>
    </div>
  </div>
</div>
    
    
   