<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5><%=bike._id%></h5>
       
                                   
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><% bike.map((bike)=>{%>
      <div class="modal-body">
          <form name="update" id="updatebike" action="/updateBikeInfo/<%=bike._id%>" method="post">
            <% }); %>
          <div class="form-group">
              <div class="form-group">
               <input type="text" class="form-control" name="serial" id="recipient-name" placeholder="SERIAL:">
                </div>
             </div>

             <div class="form-group">
              <div class="form-group">
               <input type="text" class="form-control" name="brand" id="recipient-name" placeholder="BRAND:">
                </div>
             </div>

             <div class="form-group">
              <div class="form-group">
               <input type="text" class="form-control" name="color" id="recipient-name" placeholder="COLOR:">
                </div>
             </div>

             <div class="form-group">
              <div class="form-group">
               <input type="text" class="form-control" name="type" id="recipient-name" placeholder="TYPE:">
                </div>
             </div>
             <div class="form-group">
              <div class="form-group">
               <input type="text" class="form-control" name="status" id="recipient-name" placeholder="STATUS:">
                </div>
             </div>
             <div class="form-group">
              <div class="form-group">
               <input type="text" class="form-control" name="lock" id="recipient-name" placeholder="LOCK:">
                </div>
             </div>

          

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
        <button id="update-bike" type="button" class="btn btn-primary">UPDATE</button>
      </div>
    </div>
  </div>
</div>