
<!--Modal to update a bike -->
<!--Modal extracted from Bootstrap -->


<!--Update Button to call Modal and update dish detail-->
<!-- <a class="update" href="/put/{}">
  <button
    id="update"
    type="button"
    class="update"
    data-toggle="modal"
    data-target="#myModal"
  >
    <i class="fas fa-pen-square"></i>
  </button> -->