<!--Using the concept of layout file. This component will be used anytime a View is needed with this Header element.-->

<nav class="fixed-nav-bar" id="nav-bar">
  <!-- Fixed navigation bar content-->
  <ul class="list-option">
    <li class="nav-item">
      <a class="nav-link" href="/">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>
</nav>
