<!--This Modal will pop up when user wants to update a bike-->

<!--Modal Section-->
<div class="container">
    <div class="parent-modal" id=<%= isfalse===2? "hidden":"displayed" %>>
      <div class="modal-content">
        <div class="close">
          <a href="/welcomescreen2"> +</a>
        </div>
        <form action="/addBike" method="POST" enctype="multipart/form-data">
          <span><h3>Register a Bike</h3></span>
          <div class="form-input">
            <div class="col-auto">

            
              <label class="sr-only" for="inlineFormInput">Serial</label>
              <input
                type="text"
                class="form-control mb-2"
                name="serial"
                placeholder="Serial"
              />
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Brand</label>
              <input
                type="text"
                class="form-control mb-2"
                name="brand"
                placeholder="Brand"
              />
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Color</label>
              <input
                type="text"
                class="form-control mb-2"
                name="color"
                placeholder="Color"
              />
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Type</label>
              <input
                type="text"
                class="form-control mb-2"
                name="type"
                placeholder="Type"
              />
            </div>
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInput">Status</label>
              <input
                type="text"
                class="form-control mb-2"
                name="status"
                placeholder="Status"
              />
            </div>
            <div class="col-auto">
          
             <div class="col-auto">
              <label for="inlineFormInput">Locker</label>
              <select name="locker">
                <option value="true">Yes</option>
                <option value="false">No</option> </select
              ><br />
            </div>
            
            <div class="col-auto">
            
              <div class="form-group floating-label-form-group controls">
                <input type="file" class="form-control" id="image" name="myImages" accept="image/*" multiple>
             </div>
           
            <div id="two-btn" class="col-auto">
               <button
                  id="btn1"
                  type="post"
                  class="btn btn-primary mb-2s"
                  data-toggle="modal"
                  data-target="#myModal"
                  formaction="/addbike"
                >
                  ADD NEW BIKE
                </button>
          
          
            
          </div>
        </div>
         
        </form>

       
      </div>
    </div>
  </div>
  