<head>
<!--SignUp Header-->
<meta charset="UTF-8" />
<!--Main Title Font-->
  <link
    href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
    rel="stylesheet"
  />
  <!--Bike Icon-->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
 
      <!--Title-->
    <title> Sign In </title> 
      
    <!-- add icon link -->
    <link rel = "icon" href =  
  "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
    type = "image/x-icon"> 
    

<!--CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link rel="stylesheet" type="text/css" href="/css/login2.css" />
  <link rel="stylesheet" type="text/css" href="/css/managebike.css" />
  
  

 
  
<!--JQuery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
</head>
