<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>TrackMyRide - sign up</title>
  </head>

  <body>
    <header>
      SignIN
    </header>

    <nav class="fixed-nav-bar" id="nav-bar">
      <!-- Fixed navigation bar content-->
      <ul class="list-option">
        <li class="nav-item">
          <a class="nav-link" href="/">Sign</a>
        </li>
         <li class="nav-item">
           <a class="nav-link" href="about.html">About</a></li>
       
      </ul>
    </nav>

    <div class="section-signin">
     <h1><form>
      <img class="logo" src="img/trackMyRidelogo2.JPG"><br>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email address"
        /><br>
        <input
          type="password1"
          name="password1"
          id="password1"
          placeholder="New password"
        /><br>
        <input
          type="password2"
          name="password2"
          id="password2"
         placeholder="Confirm new password"
        /><br>
        
        <input type="checkbox" name="terms" id="terms" value="#" />
        <label for="terms">Accept Terms and Conditions</label><br>
        <a href="#"><i class="terms-conditions"><strong>Terms and Conditions</strong></a><br>
         <button id="btn" type="submit">Register</button>
      </form></h1>
     
      <div class="video-container">
     
        <div class="color-overlay"></div>
        <video autoplay loop muted>
          <source src="img/bikebackground.mp4" type="video/mp4" />
        </video>
      </div>
       
       
       
    </div>
    <footer></footer>
    <script src="js/index.js"></script>
  </body>
</html>
