<!DOCTYPE html>

<html lang="en">

 <!--Importing the Header Layout element-->
  <%-include('layouts/header'); -%>

  <body>
      
    <div class="section">
        <div class="home-route">
            <a href="#"><i class="material-icons">home</i><b>HOME</b></a>
          
        </div>

        

      <h1><form>
       
          <img class="logo" src="img/trackMyRidelogo2.JPG">
          <input type="text" serial="serial" id="serial-field" placeholder="Bike's Serial Number"><br>
          <input type="text" name="brand" id="brand=field" placeholder="Bike's Brand"><br>
          <input type="text" name="colour" id="colour=field" placeholder="Bike's Colour"><br>
          
          
          
          <div class="report-rec">
           
            <br />
            <br />
            <a href='/bikeinfo'>SEARCH</a>
        </div>
           
            <br />
            <br />
            <a href='/reportbike'>REPORT BIKE</a>
        </div>
      
      </form></h1>
<!--Importing the Video background element-->
      <%-include('layouts/videobackground'); -%>

     
     
     
     
      </div>
    </div>
    <!--Importing the Scripts from Layout-->
    <%-include('layouts/scripts'); -%>
  </body>
</html>
