<!DOCTYPE html>

<html lang="en">

 <!--Importing the Header Layout element-->
  <%-include('layouts/header'); -%>

  <body>
      
    <div class="section">
        <div class="home-route">
            <a href="#"><i class="material-icons">home</i><b>HOME</b></a>
          
        </div>

        

      <h1><form>
       
          <img class="logo" src="img/trackMyRidelogo2.JPG">
          <input type="text" date="date" id="date-field" placeholder="Date"><br>
          <input type="text" name="hour" id="hour=field" placeholder="Hour"><br>
          <input type="text" name="addressinc" id="addressinc=field" placeholder="Address"><br>
          <input type="text" name="biketype" id="biketype=field" placeholder="Bike Type"><br>
          <input type="text" name="lock" id="lock=field" placeholder="Lock?"><br>
          <input type="text" name="addpicture" id="addpicture=field" placeholder="Add Picture"><br>
          <input type="text" name="description" id="description=field" placeholder="Description of the incident"><br>

          <div class="report-rec">
           
            
          
            <a href='/bikeinfo'>REPORT INCIDENT</a>
            <br />
            <br />
   
       
            
            <input type="text" address="address" id="address-field" placeholder="Address"><br>
            <input type="text" name="racktype" id="racktype-field" placeholder="Rack Type"><br>
   
            

            <a href='/reportbike'>REPORT PARKING SPOT</a>
        </div>
      
      </form></h1>
<!--Importing the Video background element-->
      <%-include('layouts/videobackground'); -%>

     
     
     
     
      </div>
    </div>
    <!--Importing the Scripts from Layout-->
    <%-include('layouts/scripts'); -%>
  </body>
</html>
