<!DOCTYPE html>

<html lang="en">

  <!-- PRESENT A FORM, SO THE USER CAN INPUT THE BIKE DETAILS
      (SERIAL) AND SUBMIT THE FORM.
      THE FORM BRINGS USER TO A PAGE WITH THE BIKES THAT MATCH
      THE CRITERIA
  -->

 <!--Importing the Header Layout element-->
 
 <%-include('layouts/header'); -%> 


 <!-- Scripts -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <script>
        //When page is reloaded, check for "error"
        //that returns true if no bike was found
        //and then display the modal alert
          $(document).ready(function(){
            if("<%=error%>"){
                $("#myModal").modal('show');
                }
              }); 
      </script>
      
    
      <body>
   
    <% var error; %>

     <!-- Top Navbar -->
     <nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-md py-0 static-top " >
      <a href="#" class="navbar-brand" ><i class="fas fa-bicycle"></i></a>
      <div class="d-flex bg-secondary"></div>
      <div class="p-2 mr-auto">
        <a class=" text-light  p-1"  href="/welcomescreen"  id="home">Back</a>
        <!-- <a class="  text-light p-1"  href="/bikeinfo" id="bikeinfo">Back</a> -->
      </div>
    </nav>

  
  
  
   <!-- Bootstrap modal from https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=modal -->
    <div class="bs-example">
      <div id="myModal" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">No data found</h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                      <p>The serial number you inserted is not registered in our database</p>
                     </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
    
    <!-- Insert bike serial form - source https://richwebdeveloper.com/login-and-registration-form-in-html-bootstrap/  -->
    <div class="container">
      <div class="row d-flex justify-content-center mx-auto">
          <div class="col-md-6 col-xs-12 div-style">
          <form action="/searchBikes" method="POST">
              <div class="d-flex justify-content-center mx-auto main-label" >
                  <h2>Insert Bike Details</h2>
              </div>
              <div class="form-group">
                  <input type="number" required class="form-control text-box" name="serial"  id="serial" aria-describedby="serial" placeholder="Serial Number">
              </div>
              <div class="form-group  justify-content-center d-flex">
                  <button type="submit" class="btn btn-primary button-submit">Search</button>
              </div>
          </form>
      </div>
      </div>
  </div>



     
    <!--Importing the Scripts from Layout-->
   
    <%-include('layouts/scripts'); -%>
    
  </body>
</html>
