<!DOCTYPE html>
<html lang="en">

<!--Page to direct non registred users to use the Map-->
  <!--Importing the Header Layout element-->
  <%-include('layouts/consult_header'); -%>
  <body>
    <!-- Top Navbar -->
    <nav id="mainNav" class="navbar navbar-dark bg-transparent navbar-expand-md py-0 static-top " >
      <div class="d-flex bg-secondary"></div>
      <div class="p-2 mr-auto">
        <a class=" text-light  p-1"  href="/"  id="home"><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
      </div>
    </nav>

  <!--Parent DIV-->
    <div class="login">
      <p class="main-txt" style="font-family: pacifico;color: white;font-size: 23px;margin-left: 45px;">
        Track My Ride
        <i id="bike-icon" class="material-icons"  >directions_bike</i></p>
      
        <form>
        <!--When submitting the form the browser will make a POST request to the /signin/store endpoint.Check Index.js-->
         <button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" formaction="/consultmap">Consult Map</button>
  
         <button id="btn-consult" type="submit"class="btn btn-primary btn-block btn-large" formaction="/bikeinfo">Consult Bike Serial</button>
       
    </div>
  
  </body>
</html>
