<!DOCTYPE html>
<html lang="en" class="">

<!-- Login Page -->

<!--Header import -->
  <%-include('layouts/login2_header2'); -%>

    <!--Meta for responsiveness-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
    
</head> 
 <body>
    <!--Map Button to Consult Map-->
    <div class="section">
      <div class="map-route">
          <a href='/consult'><i class="material-icons">pin_drop</i><b></b>Consult</b></a>
      </div>

     <!--Parent Div-->
    <div class="login">
     
      <!--Title and Icon-->
      <p class="main-txt" style=" font-family:pacifico; color: white;font-size: 23px; margin-left: 45px;" >Track My Ride<i id="bike-icon" class="material-icons">directions_bike</i></p>
      
   <!--Login Form-->
      <form action="login" method="POST">

        <input
          type="text"
          name="email"
          placeholder="E-mail"
          required="required"          
        />
        
        <input
          type="password"
          name="password"
          placeholder="Password"
          required="required"
        />
        <!-- Flash Messages -->
      

        <% if (locals.errors) { %>
          <p style="color: red;">Invalid Email or Password, try again!</p>
        <% }%>

        <button type="submit" class="btn btn-primary btn-block btn-large " > Log in  <i class="fas fa-sign-in-alt"></i>
        </button>
        <!-- TO BE IMPLEMENTED -->
        <!-- <span class="link-password" ><a  href="#"><small>Forgot your username or password?</small></a> -->
        
          <hr>
          <br> <br>
         <strong> <p  style="text-align: center; color:white">Don´t have an account?</p></strong>
            
        <a href='/sign'><button type="button" class="btn btn-light btn-block btn-large">Sign Up <i class="fas fa-user-plus"></i> </button></a></span>
      </form>
    </div>

   

  </body>
</html>
