<!DOCTYPE html>

<html lang="en">

 <!--Importing the Header Layout element-->
  <%-include('layouts/header'); -%>

  <body>
    <!-- Navbar -->
    <nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-md py-0 fixed-top " >
      <a href="#" class="navbar-brand" ><i class="fas fa-bicycle"></i></a>
      <div class="d-flex bg-secondary"></div>
      <div class="p-2 mr-auto">
        <button class="btn btn-success p-1" id= "showRacks">Racks</button>
      <button class="btn btn-success p-1" id= "showHotspots">Hotspots</button>
      </div>
      
     
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
      <ul class="navbar-nav text-right">
          <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
          <li>
            <a class="flex-fill text-right text-light nav-link" data-toggle="collapse" href="#" data-target=".chat" id="chatToggle">Report Rack</a>
          </li>
      
        </ul>
  </div>
    </nav>
    

    



    
     <!-- Form hidden -->
    <div class="container-fluid h-100 d-flex flex-column">
      <div class="row h-75 map-container flex-fill" id="mapid">
      </div>
      <div class="chat h-25 collapse">
          <div class="row" id="chatFooter">
                <div class="col-sm-10 px-0">
                      <form class="form-inline chatMsgTxt w-100 form-control" id="chatMsgTxt">
                <div class="form-group mx-sm-3 mb-2">
                <label for="lat" class="sr-only">Latitude</label>
                <input type="number" class="form-control" id="lat" placeholder="lat">
              </div>
              <div class="form-group mx-sm-3 mb-2">
                <label for="lon" class="sr-only">Longitude</label>
                <input type="number" class="form-control" id="lon" placeholder="lon">
              </div>
              <button type="submit" class="btn btn-primary mb-2" id="grabPosition">Report event</button>
            </form>
               </div>
          </div>
      </div>
  </div>

  
    <!-- <div id="mapid">
      
        
    </div> -->

    

    

    
       <!-- Bottom navbar with form -->
       <!-- <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
          <label for="lat" class="sr-only">Latitude</label>
          <input type="number" class="form-control" id="lat" placeholder="lat">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="lon" class="sr-only">Longitude</label>
          <input type="number" class="form-control" id="lon" placeholder="lon">
        </div>
        <button type="submit" class="btn btn-primary mb-2" id="grabPosition">Report event</button>
      </form> -->


     
     
     
     
      </div>
    </div>
    <!--Importing the Scripts from Layout-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/map.js"></script>
<!-- <script src="js/map.js"></script>  -->
<%-include('layouts/scripts'); -%>
  </body>
</html>
