<!DOCTYPE html>

<html lang="en">

 <!--Importing the Header Layout element-->
  

  <head>
    <title>
      TrackMyRide
    </title>
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
   <!-- Font Awesome Script -->
   <script src="https://kit.fontawesome.com/5c19bf284e.js"></script>
<!-- Scrollbar Custom CSS -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
/>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <!-- Leaflet CSS for interactive maps -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""
  />
  
  <!-- Leaflet JavaScript for interactive maps-->
  <script
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""
  ></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet-src.js" integrity="sha512-IkGU/uDhB9u9F8k+2OsA6XXoowIhOuQL1NTgNZHY1nkURnqEGlDZq3GsfmdJdKFe1k1zOc6YU2K7qY+hF9AodA==" crossorigin=""></script>
<script src="https://unpkg.com/proj4@2.4.4/dist/proj4-src.js"></script>
<script src="https://unpkg.com/proj4leaflet@1.0.2/src/proj4leaflet.js"></script>
<script src="https://unpkg.com/leaflet-omnivore@0.3.4/leaflet-omnivore.js"></script>



  <body>

    <div class="wrapper">

 <!-- Sidebar Report -->
 <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>
  
    <!-- Sidebar title  -->
    <div class="sidebar-header">
      <h3><span></span></h3>
    </div>

 
  <ul class="list-unstyled components">
          <!-- Report Incident Form -->
           <form action="/incident" method="POST" role="form" id="incidentForm" >
            <!-- Map id - hidden -->
            <div class="col-auto">
            <input type="text" class="form-control" id="rackId" name="rackId">
             <!-- Latitude -->

            <div class="form-group align-items-center">
             <div class="col-auto">
              <label for="lat" class=".col-xs-6 .col-sm-4 col-form-label">Latitude</label>
              <div class=".col-xs-6 .col-lg-4">
                <input type="text" class="form-control" id="lat" name="latitude" readOnly >
              </div>
            </div>
          </div>
            <!-- Longitude -->
            <div class="form-group row">
              <label for="longitude" class=".col-xs-6 .col-sm-3 col-form-label">Longitude</label>
              <div class=".col-xs-6 .col-sm-3">
                <input type="text" class="form-control" id="lon" name="longitude" readOnly >
              </div>
            </div>
             <!-- Report type -->
             <div class="form-group row">
              <label for="incident" class=".col-xs-6 .col-sm-3 col-form-label" id="inc"><span>Incident</span></label>
              <div class=".col-xs-6 .col-sm-3">
                <input type="text" class="form-control" id="incident" name="incident" readOnly >
              </div>
            </div>
            <!-- User -->
            <div class="form-group row mx-sm-3">
              <label for="email" class=".col-xs-6 .col-sm-4 col-form-label">Email</label>
              <div class=".col-xs-6 .col-lg-4">
                <input type="email" class="form-control"placeholder="<%=userId%>"  id="<%=userId%>" name="email" >
                <!-- <input type="email" class="form-control" id="email" name="email" > -->
              </div>
            </div>
           
            <!-- Incident Date -->
            <div class="form-group row mx-sm-3">
              <label for="date" class=".col-xs-6 .col-sm-4 col-form-label" id="dt"><span>Date</span></label>
              <div class=".col-xs-6 .col-lg-4">
                <input type="date" class="form-control" id="date" name="date" >
              </div>
            </div>
            <!-- Incident Period -->
            <div class="form-group row mx-sm-3">
              <label for="time" class=".col-xs-6 .col-sm-4 col-form-label">Time</label>
              <div class=".col-xs-6 .col-lg-4">
                <select id="time" name="time" class="form-control">
                  <option value="morning">Morning</option>
                  <option value="afternoon">Afternoon</option>
                  <option value="evening">Evening</option>      
              </select>
                <!-- <input type="date" class="form-control" id="incident"disabled > -->
              </div>
            </div>
             <!-- Description -->
             <div class="form-group row mx-sm-3 mb-2">
              <label for="description" class="col-sm-3 col-form-label">Description</label>
              <div class="col-sm-9">
                <textarea id="description" name="description" placeholder="Write something.." style="height:200px "></textarea>
              </div>
            </div>

                  
        <button type="submit" class="btn btn-success mb-3" id="grabPosition" >Report event</button>
            </div>
      </form>
    </ul>

    <!-- Add new Rack Form -->
    <!-- <ul class="list-unstyled components"> -->
       <form action="/addNewRack" method="POST" role="form" id="newRackForm">
        <!-- Map id - hidden -->
        <input type="text" class="form-control" id="newRackId" name="newRackId">
         <!-- Latitude -->
        <div class="form-group row mx-sm-3 mb-2">
          <label for="lat" class="col-sm-3 col-form-label">Latitude</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="newLat" name="latitude" readOnly >
          </div>
        </div>
        <!-- Longitude -->
        <div class="form-group row mx-sm-3 mb-2">
          <label for="longitude" class="col-sm-3 col-form-label">Longitude</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="newLon" name="longitude" readOnly >
          </div>
        </div>
        <!-- Rack type -->
        <div class="form-group row mx-sm-3 mb-2">
          <label for="time" class="col-sm-3 col-form-label">Type</label>
          <div class="col-sm-7">
            <select id="type" name="type" class="form-control">
              <option value="stand">Stand</option>
              <option value="pole">Pole</option>
              <option value="gate">Gate</option> 
              <option value="private">Private Property</option>      
           </select>
          </div>
        </div>
          
         <!-- Quantity -->
         <div class="form-group row mx-sm-3 mb-2">
          <label for="quantity" class="col-sm-3 col-form-label" id="inc">Quantity</label>
          <div class="col-sm-7">
            <input type="number" class="form-control" id="quantity" name="quantity" >
          </div>
        </div>
        <!-- User -->
        <div class="form-group row mx-sm-3 mb-2">
          <label for="email" class="col-sm-3 col-form-label">Email</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="newEmail" name="email" >
          </div>
        </div>
       
        <!-- Property -->
        <div class="form-group row mx-sm-3 mb-2">
          <label for="property" class="col-sm-3 col-form-label" id="ppt"><span>Location</span></label>
          <div class="col-sm-7">
            <select id="property" name="property" class="form-control">
              <option value="stand">Private</option>
              <option value="pole">Public</option>
           </select>
          </div>
        </div>
  
         <!-- Description -->
         <div class="form-group row mx-sm-3 mb-2">
          <label for="description" class="col-sm-3 col-form-label">Description</label>
          <div class="col-sm-7">
            <textarea id="newDescription" name="newDescription" placeholder="Write something.." style="height:200px "></textarea>
          </div>
        </div>

              
    <button type="submit" class="btn btn-success mb-3" id="grabNewRack" >Add new Rack</button>
  </form>




<!-- </ul> -->

      
  
</nav>

   
<!-- Content -->

 <!-- Top Navbar -->
 <!-- <nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-md py-0" > -->
  <div id="content"> 
  <nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-md py-0 static-top " >
 <a href="#" class="navbar-brand" ><i class="fas fa-bicycle"></i></a>
 <div class="d-flex bg-secondary"></div>
 <div class="p-2 mr-auto">
   <button class="btn btn-success p-1" id= "showRacks">Racks</button>
 <button class="btn btn-success p-1" id= "showHotspots">Hotspots</button>
 </div>

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
   <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
  <ul class="navbar-nav text-right">
     <li class="nav-item active">
        <a class="nav-link" href="/welcomescreen2">Home </a>
      </li>
     <li>
      <a class="flex-fill text-right text-light nav-link" data-toggle="collapse" href="#" data-target=".chat" id="newRack">Add Rack to Map</a>
     </li>
  </ul>
</div>
</nav>
<div >
<div class="map-responsive">
  <div id="mapid" ></div>
</div>   
    

  </div>
</div>
<!-- Overlay a grey layer on the map -->
<div class="overlay">
  <div id="clickMap" >Pin location on the map</div>
</div>    
    </div>


  

 

   


        <!-- Form hidden
        <div class="container-fluid h-100 d-flex flex-column">
          <div class="row h-100 map-container flex-fill" id="mapid">
          </div>
        </div>
       -->
      
         
    <!--Importing the Scripts from Layout-->

      <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

       <script type="text/javascript" src="js/mapAPI.js"></script>
      <!-- <script type="text/javascript" src="jquery/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/map.js"></script> -->
<!-- <script src="js/map.js"></script>  -->
<%-include('layouts/scripts'); -%>
  </body>
</html>
