<!DOCTYPE html>

<html lang="en">

 <!--Importing the Header Layout element-->
  

  <head>
    <title>
      TrackMyRide
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"  />
   <!-- add icon link -->
   <link rel = "icon" href = "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
   type = "image/x-icon"> 


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script type="text/javascript" src="js/geojson.min.js"></script>
  
   <!-- Font Awesome Script -->
   <script src="https://kit.fontawesome.com/5c19bf284e.js"></script>

<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
/>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Source+Code+Pro"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />

  <!-- Leaflet CSS for interactive maps -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""
  />
  
  <!-- Leaflet JavaScript for interactive maps-->
  <script
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""
  ></script>





<style>
  @media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }

    .navbar-nav .btn {
    margin-right: 25px;
    margin-left: 25px;
}
}

</style>

  <body>
    <!-- Outter Class -->
    <div class="wrapper">
      
      <!-- Sidebar -->
      <nav id="sidebar">

        <!-- Untoggle button -->
        <div id="dismiss">
          <i class="fas fa-arrow-left"></i>
        </div>  

        <!-- Sidebar title  from JS-->
        <div class="sidebar-header">
          <h3><span></span></h3> 
        </div> 
                   
        <!-- Add Incident Form -->
        <%-include('layouts/map/mapIncidentPartials'); -%>
    
        <!-- Add new Rack Form-->
        <%-include('layouts/map/mapRackPartial'); -%>
      
      </nav> 


   

      <!-- Content -->
      <div id="content">

      <!-- Top Navbar -->
      <nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-md py-2 static-top " >
    <!-- If there is no user logged in -->
        <% if(userId == undefined){ %>
          <!-- Back button routes -->
          <a class=" text-light  p-1"  href="/consult"  id="home" ><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
          <%}else{%>     
            <a class=" text-light  p-1"  href="/welcomescreen"  id="home" ><i class="fas fa-arrow-alt-circle-left"></i> Back</a>
            <%}%>

            <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <button class="navbar-toggler navbar-brand abs" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
              <ul class="navbar-nav justify-content-between w-100">
              <li class="nav-item active">
                <button class="btn btn-primary p-2" id= "showRacks">Display Parking Spots</button>
              </li>
              <li>
                <button class="btn btn-danger p-2" id= "showHotspots">Display Incidents</button>
              </li>
              <li>
                <button class="btn btn-success p-2"  data-toggle="collapse" href="#" data-target=".chat" id="newRack">Add Parking Spot</button>
              </li>
              <li>
                <button class="btn btn-light p-2" data-target=".chat"  id= "addIncident">Report Incident </button>
              </li>
            </ul>
          </div>
        </div>
        </nav>
        
  
        
        <!--Map  -->
      <div class="map-responsive">
          <div id="mapid" ></div>
        </div>   
     </div> <!-- end .content -->
     
     <!-- Overlay a grey layer on the map -->
      <div class="overlay">
        <div id="clickMap" ><span></span></div>
      </div>    
    </div> <!--end .wrapper -->


    <!--Importing the Scripts from Layout-->

      <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

       <!-- <script type="text/javascript" src="js/mapAPI.js"></script> -->
      <!-- <script type="text/javascript" src="jquery/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="js/map.js"></script> -->
  <script type="text/javascript">
             
    $(document).ready(function () {

   
   if(("<%=locals.rack%>").length >0){
     console.log("<%rack.newRackId%>");
     console.log("<%=locals.rack%>");
   }else{
    console.log("null");
   }

  
  
      
    });
  </script> 
<script src="js/maps2.js"></script>
      <script src="js/map.js"></script> 
  <!-- <script src="js/location.js"></script> -->


  </body>
</html>
