<!DOCTYPE html>

<html lang="en">

  <!-- USER PROFILE  -->

 <!--Importing the Header Layout element-->
 
  <head>
    <title>
      TrackMyRide
    </title>

     <!-- add icon link -->
     <link rel = "icon" href =  
     "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
       type = "image/x-icon"> 
       
    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> </head>
    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/5c19bf284e.js"></script>

 <!-- Scripts -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
  
          
      <body>
   <style>
     img {
  border-radius: 50%;
}
.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-group input {
	background-color: white !important;
	background: rgba(128, 128, 128, 0.411) !important;
	box-shadow: none !important;
}
#profileContainer .card{
  box-shadow: 5px 5px 15px #8c3ce798;
  transition: all 0.3s ease-in ;
  font-weight: 600;
  /* Include webkit transition */
}
#profileContainer .card:hover{
  background: #783ce728;
  color: #3f3e3e;
  border: none;
  box-shadow: 5px 5px 10px #9e9e9e;
}
 .card-body, .tab-pane, .tab-content, .active{
  background: white;
  color: #3f3e3e;
 }
 /* Background style */
  body, html {
    height: 100%;
    width: 100vw;
  } 
           
  body{
    background-image: linear-gradient(45deg, #ffa033b4, #f19f40c4);
  }


   </style>


     <!-- Top Navbar -->
     <nav id="mainNav" class="navbar navbar-dark bg-transparent navbar-expand-md py-0 static-top " >
      <div class="d-flex bg-secondary"></div>
      <div class="p-2 mr-auto">
      
        <a class=" text-light  p-1"  href="/"  id="home" ><i class="fas fa-arrow-alt-circle-left"></i> Home</a>
        
      </div>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4">Oh no guys!</h1>
        
    <div class="outter"><img src="https://pbs.twimg.com/profile_images/444514088354197504/Nnxts7O_.jpeg" />
        <p class="lead">This page is not available</p>
        <hr class="my-4">
   
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Go somewhere else</a>
        </p>
      </div>
  
  
  </body>
</html>