<!DOCTYPE html>

<html lang="en">

  <!-- USER PROFILE  -->

 <!--Importing the Header Layout element-->
  <%-include('layouts/header'); -%> 


 <!-- Scripts -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  
          
      <body>
   <style>
     img {
  border-radius: 50%;
}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form-group input {

	background-color: white !important;
	background: rgba(128, 128, 128, 0.411) !important;
	box-shadow: none !important;
}
   </style>

<% var noData; %>

    

     <!-- Top Navbar -->
     <nav id="mainNav" class="navbar navbar-dark bg-dark navbar-expand-md py-0 static-top " >
      <a href="#" class="navbar-brand" ><i class="fas fa-bicycle"></i></a>
      <div class="d-flex bg-secondary"></div>
      <div class="p-2 mr-auto">
        <a class=" text-light  p-1"  href="/welcomescreen"  id="home">Home</a>
        <!-- <a class="  text-light p-1"  href="/bikeinfo" id="bikeinfo">Back</a> -->
      </div>
    </nav>

  
  
    <!-- Card profile https://getbootstrap.com/docs/4.3/components/card/ -->
<div class="container">
  <div class="card text-center">
    <div class="outter"><img src="https://pbs.twimg.com/profile_images/444514088354197504/Nnxts7O_.jpeg" class="circular"/>
    </div>   
    <!-- Tabs Titles -->
      <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="tabs">
              <li class="nav-item">
                  <a class="active nav-link active" href="#bikes" data-toggle="tab">My Bikes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#account" data-toggle="tab">My account</a>
              </li>
          </ul>
      </div>
      <!-- Card body and tabs-pane -->
      <div class="card-body">
          <div class="tab-content">
            <!-- TAB 1 -->
             <!-- How many bikes user have-->
              <div class="tab-pane active" id="bikes">
                <form>
                  <div class="form-group row mx-sm-3 mb-2">
                    <label for="bikes" class="col-sm-2 col-form-label">Bike Status</label>
                    <div class="col-sm-10">
                      <%if (noData ) {%>
          
                             <input type="text" readonly class="form-control" id="bikes" placeholder="Nothing registered">
                            <% } else{ %>
                      <input type="text" readonly class="form-control" id="bikes" placeholder="<%=userBikeDetails.status%>">
                      <% } %>
                    </div>
                  </div>
                    <!-- Any suspicious activity reported for user -->
                  <div class="form-group row mx-sm-3 mb-2">
                    <label for="activity" class="col-sm-2 col-form-label">Reports </label>
                    <div class="col-sm-10">
                      <%if (noData || userBikeDetails.report==0) {%>
                      
                      <input type="text" readonly class="form-control" id="activity" placeholder="Nothing Reported About Your Bike">

                    <%  }else { %>
                      <input type="text" readonly class="form-control" id="activity" placeholder="<%=userBikeDetails.report[0]%>">
                      <%  } %>

                    </div>
                  </div>
                </form>
                <hr/>
                <p class="card-text">You can update your bike details in Manage My Bike</p>
                <!-- <a href="#" class="btn btn-primary">Take me there</a> -->
                <button type="submit" class="btn btn-success">Take me there</button>
              </div>
               <!-- TAB 2-->
            
                <!-- Username -->
                <div class="tab-pane fade " id="account">
                <form>
                  <div class="form-group row mx-sm-3 mb-2">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                      <input type="email" readonly class="form-control" id="username" value="getFromDb">
                    </div>
                  </div>
                    <!-- Password -->
                  <div class="form-group row mx-sm-3 mb-2">
                    <label for="password" class="col-sm-2 col-form-label">Password </label>
                    <div class="col-sm-10">
                      <input type="password" readonly class="form-control" id="password" value="getFromDb">
                    </div>
                  </div>
                <hr/>
                <button type="submit" class="btn btn-primary" id="update">Update password</button>
                  <button type="submit" class="btn btn-danger" id="deleteAcc">Delete Account</button>
              </form>




              </div>
          </div>
      </div>
  </div>
</div>
    
     

    <!--Importing the Scripts from Layout-->
   
    <%-include('layouts/scripts'); -%>
    <script>
         $('#myTab li:last-child a').tab('show') 
    </script>
    
  </body>
</html>
