<!DOCTYPE html>
<html lang="en">
  <!--Importing the Header Layout element-->
  <%-include('layouts/login2_header'); -%>
  <head> 
    <meta charset = "utf-8" /> 
      
    <title> 
        Sign In
    </title> 
      
    <!-- add icon link -->
    <link rel = "icon" href =  
  "https://user-images.githubusercontent.com/33750251/64987392-f9eead80-d8c0-11e9-84a9-e2a4a7f624db.png"
    type = "image/x-icon"> 
    
  </head> 
  <body>
    <!--Importing Navbar from Layout element-->
    <%-include('layouts/navbar'); -%>

    <div class="login">
      <!-- <img class="logo" src="img/trackMyRidelogo2.JPG"> -->
      <p
        class="main-txt"
        style="
          font-family: pacifico;
          color: white;
          font-size: 23px;
          margin-left: 45px;
        "
      >
        Track My Ride<i id="bike-icon" class="material-icons"
          >directions_bike</i
        >
      </p>
      <form action="/signin" method="POST">
        <!--When submitting the form the browser will make a POST request to the /signin/store endpoint.Check Index.js-->
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          required="required"
        />
        <input
          type="PASSWORD"
          name="password"
          placeholder="Enter a Password"
          required="required"
        />
        <!-- <input -->
          <!-- type="PASSWORD" -->
          <!-- name="p" -->
          <!-- placeholder="Confirm your Password" -->
          <!-- required="required" -->
        <!-- /> -->

        <br>
 
        <span class="checkbox"><input type="checkbox" class="form-group" name="terms-checkbox" id="terms" value="#" /></span>
        <label for="terms" id="label">Accept Terms and Conditions</label>
        <br><br>
        <a href="gdpr" id="terms-link"><i class="terms-conditions" name="terms-link"><strong>Terms and Conditions</strong></a><br>
         <button id="btn" type="submit"class="btn btn-primary btn-block btn-large">Register</button>

        <span class="link-password"
          ><a href="#">Forgotten your username or password?</a>
          <br />
          <br />
          <a href="/">Already a member? Login</a></span
        >
      </form>
    </div>

    <%-include('layouts/login2_scripts'); -%> <%-include('layouts/scripts'); -%>
  </body>
</html>
