/* Author: Yuri Braga 2017141 */

#mb-container {
  background: linear-gradient(#432a61, #5b4876, white);
  display: flex;
  top: 0;
  left: 0;

  height: 1000px;

  justify-content: space-between;
}

#box-margin-left {
  background-image: linear-gradient(#432a61, #5b4876, white);
  width: 0%;
  height: 100%;

  left: 0px;
}

#content {
  background-color: whitesmoke;
  width: 1200px;
  height: 100%;

  opacity: 0.9;
  left: 0px;
}

#box-margin-right {
  background-image: linear-gradient(#432a61, #5b4876, white);
  width: 0%;
  height: 100%;
  opacity: 0.3;
}

.content-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#up-content {
  background-color: whitesmoke;
  height: 80%;
  width: 80%;
  justify-content: center;
  display: table-caption;
  padding-top: 50px;
}

#inner {
  border-radius: 50px;
  height: 577px;
}

#bottom-content {
  background-color: whitesmoke;
  height: 500%;
  width: 100%;
}

#bottom-content {
  display: flex;
  justify-content: center;
}

#btn-update {
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 30px;
  height: 100px;
  width: 300px;
}

#btn-add {
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 30px;
  height: 100px;
  width: 300px;
}

#midle-content {
  background-color: whitesmoke;
  height: 500%;
  width: 100%;
  display: flex;
}

#midle-content-left {
  background-color: whitesmoke;
  height: 100%;
  width: 50%;
}

#midle-content-right {
  background-color: whitesmoke;
  height: 100%;
  width: 50%;
}
.list {
  padding-left: 445px;
  font-size: x-large;
  font-family: monospace;
}
