#mb-container {
  background: linear-gradient(#432a61, #5b4876, white);
  display: flex;
  top: 0;
  left: 0;

  height: 1000px;

  justify-content: space-between;
}

#box-margin-left {
  background-image: linear-gradient(#432a61, #5b4876, white);
  width: 0%;
  height: 100%;

  left: 0px;
}

#content {
  background-color: white;
  width: 1200px;
  height: 100%;

  opacity: 0.9;
  left: 0px;
}

#box-margin-right {
  background-image: linear-gradient(#432a61, #5b4876, white);
  width: 0%;
  height: 100%;
  opacity: 0.3;
}

.content-holder {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#up-content {
  background-color: yellow;
  height: 500%;
  width: 100%;
}

#midle-content {
  background-color: blue;
  height: 500%;
  width: 100%;
}

#bottom-content {
  background-color: green;
  height: 500%;
  width: 100%;
}

#bottom-content {
  display: flex;
  justify-content: center;
}

#btn-update {
  height: 150px;
  width: 150px;
  border-radius: 50%;

  margin-right: 50px;
}

#btn-add {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
