html {
  height: 100%;
}
body {
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%) !important;
}

img {
  max-width: 100% !important;
  max-height: 10% !important;
}

.masthead {
  background-color: white !important ;
}

.carousel-indicators {
  /* background-color: black !important ;

  padding-right: 30px !important ;
  margin-right: 380px !important ; */
}

.container {
  display: flex;
  justify-content: center;
}

#btn1 {
  height: 130px;
  width: 200px;
  font-size: large;
  border-radius: 30px;
  color: white;
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(
    linear,
    0 0,
    0 100%,
    from(#6eb6de),
    to(#4a77d4)
  );
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
}

footer {
  padding: 0;
  opacity: 0;
}

#btn2 {
  color: white;
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(
    linear,
    0 0,
    0 100%,
    from(#6eb6de),
    to(#4a77d4)
  );
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
}

#bottom-content {
  display: flex;
  justify-content: center;
  height: 100%;
}

.list-group-item {
  border-style: none !important;
  background: rgba(0, 0, 0, 0.1) !important;
  color: white !important;
  text-shadow: lightgreen !important;
}

.parent-modal {
  display: flex;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  border-radius: 15px !important;
  width: 70%;
  height: 70%;
  background: white;
  text-align: center;
  padding: 20px;
  margin-left: 16%;
  margin-right: 16%;
  border-radius: 20px;
  margin-bottom: 100px;
  position: relative;
  z-index: 9;
}
/*Mobile Version#######################################################*/
#displayed {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

#hidden {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: large;
}

.close a {
  text-decoration: none !important;
}
#update-btn {
  display: flex;
  justify-content: center;
  margin-left: 110px;
  width: 50%;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  border-radius: 20px;
  font-size: large;
  border-style: none;
  color: white;
  align-items: center;
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(
    linear,
    0 0,
    0 100%,
    from(#6eb6de),
    to(#4a77d4)
  );
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#update-btn:hover {
  color: lightgreen;
  font-size: larger;
}

.form-input input {
  height: 30%;
  font-size: xx-large;
  padding-top: 10%;
  border-style: none;
}
/*####################Mobile Version Ends here*/

/*####################PC version */

@media (max-height: 800px) {
  .form-input input {
    font-size: large;
    height: 1.5%;
    padding-top: 1%;
    justify-content: center;
  }
}

@media (max-height: 800px) {
  #update-btn {
    width: 60%;
    height: auto;
    margin-top: 13%;
    padding-top: 5%;
    padding-bottom: 8%;
    border-radius: 20px;
    text-align: center;
    margin-left: 85px;
  }
}
@media (max-height: 800px) {
  .modal-content {
    border-radius: 15px !important;
    width: 30% !important;
    height: 60%;
    background: white;
    text-align: center;
    padding: 20px;
    margin-left: 16%;
    margin-right: 16%;
    border-radius: 20px;
    margin-bottom: 100px;
    position: relative;
    z-index: 999;
  }
}

@media (max-height: 800px) {
  #displayed {
    width: 100%;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media (max-height: 800px) {
  .masthead {
    width: auto;
    margin-left: 220px;
    margin-right: 220px;
    bottom: 20px;
    margin-bottom: auto;
  }
}

@media (max-height: 800px) {
  #midle-content-left {
    margin-top: -60px;
  }
}
#input-id {
  font-size: 35px;
  /* border-style: none; */
  border-radius: 20px;
}

@media (max-height: 800px) {
  #input-id {
    font-size: large;
    border-radius: 5px;
  }
}

@media (max-height: 800px) {
  #btn1 {
    width: 180px;
    height: 80px;

    border-radius: 25px;
  }
}
